/* light blue #e1f2f7
medium blue #99ddff
dark blue #00458b
sea green #3fd2c7
light pink #f8e5e5
medium pink #f4abaa
dark pink #ee7879
dark purple #2A3166 

light pink #f8e5e5
dusty rose #c39eao
hot pink #fa255e
black #000000
*/

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #e1f2f7;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-container {
  background-color: #99ddff;
  display: flex;
  justify-content: space-between;
  height: 85px;
  width: 100%;
  border-bottom: 8px solid #3fd2c7;
}

.nav-bar-left img {
  height: 65px;
  width: 165px;
  padding-left: 20px;
}

.nav-bar-left {
  display: flex;
  align-items: center;
  /*justify-content: flex-start; */
}

.nav-bar-right {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.nav-item {
  margin: 0 15px;
}

/* TOP SECTION */
.top-announcement {
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00458b;
  margin: 3px 0 0 0;
}

.top-announcement h1 {
  font-size: 40px;
  margin: 1px 0 0 0;
}

.top-announcement h2 {
  font-size: 25px;
  margin: 0 0 1px 0;
}

/* MIDDLE SECTION */
.middle-grid-container {
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 8px solid #3fd2c7;
  background-color: #99ddff;
  margin: 20px 0 10px 0;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1f2f7;
  border-top: 4px solid #3fd2c7;
}

@media (min-width: 500px) {
  .grid-item {
    width: 25%;
    display: flex;
    flex-direction: row;
  }
}

.mid-item {
  font-size: 20px;
  text-align: center;
  padding: 4px 0 0 0;
  color: #00458b;
}

.mid-item-p {
  text-align: justify;
  padding: 2px 2px;
  color: #00458b;
}

/* CARDS SECTION */
.card {
  border: 4px solid #3fd2c7;
}

/* FOOTER */
footer {
  color: white;
  background-color: #00458b;
  font-size: 14px;
  padding: 10px;
  height: 50px;
  width: 100%;
  text-align: center;
  border-top: 8px solid #3fd2c7;
  margin: 30px 0 0 0;
}
